body{

    font-family: "Poppins", sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: black;
    text-align: center;
}


.logo{
    width: 40%;
    padding-top:70px;
}

.titulo{
    margin-top: 150px;
    color: #fff;
    font-family: "GOT";
    letter-spacing: 5px;
    word-spacing: 10px;
    font-size: 15px;
    line-height: 50px;
    margin-bottom: 70px;
}


.informacoes{
    margin-top: 200px;
}

.imagem{
    width: 70%;
    height: 70%;
}


.informacoes h1{
    color: aliceblue;
    font-size: 35px;
    margin-bottom: 80px;
    font-family: "GOT";
    letter-spacing: 5px;
    word-spacing: 10px;
}

@font-face{
    font-family: "GOT";
    src: url(../Fontes/GOT.ttf);
}

.informacoes .descricao{
    font-size: 29px;
    color: #fff;
    line-height: 40px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
    margin-bottom: 20px;

}

.fim{
    padding-top: 200px;
}
